# DEBUG=False # for PROD

# google apps script related variables
APPS_SCRIPT_API_SECRET =
APPS_SCRIPT_API_URL = 

# db related variables
DB_TYPE="postgresql"
DB_DRIVER="asyncpg"
DB_HOST="127.0.0.1"
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=